.signin-title {
  text-align: center;
  color: blue;
}
.App {
  text-align: center;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin: 100px auto 1em;
  padding: 1em;
  text-align: left;
  color: darkblue;
  width: 600px;
}
.form {
  padding: 1em;
}
label {
  font-weight: 600;
}